# NOTE: Rename to .env
# PORT NESTJS
PORT=3000

# DB CONFIGURATION
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=logistic_devxialabs

# JWT CONFIGURATION
INTERNAL_SECRET_ACCESS_TOKEN=1nt3rn4ls3cr3tk3y4cc3ss4p1k3yD3vx14l4bs;
INTERNAL_ACCESS_TOKEN_EXPIRES_IN=25200s

# URL BASE NESTJS
URL_BASE_NESTJS=http://localhost:3000/v1/

# URL BASE ANGULAR
URL_BASE_ANGULAR=http://localhost:4200/
